

     /* boostrap */

     .logo{
         width: 8%;
     }

     .video{
        margin-top: 3%;
        object-fit: cover;
        width: 988px !important;
        height: 381px;
        margin-left: 20%;
    } 
 .titulos{
     padding: 20px;
     margin: 20px;
 }

 .productos{
     margin: 20px;
     padding: 20px;
 }
    .living {
        height: 450px;
        width: 450px;}
        
        .cocina {
            height: 450px;
            width: 450px;}

            .baño {
                height: 450px;
                width: 450px;}

                .aromas {
                    height: 450px;
                    width: 450px;}

    .footer{
        background-color: darkgrey;
    }

    .aInicio{
        text-decoration: none;
        color: black;
        margin-right: 7.5rem;
        font-size: 110%;
    }

    .redesSociales{
        
        text-decoration: none;
        color: black;
        font-size: 110%;
    }

